<div class="footer">
  <div class="footer-inner">
    <div class="logo-line">
      <img src="/assets/images/Citi-Enterprise-White.png" alt="" (click)="showItems()"/>
    </div>
    <div class="detail-menu">
      <div class="menu-colomn">
        <div class="menu-header">Why Citi</div>
        <div class="menu-item">Our Story</div>
        <div class="menu-item">Benifits and Services</div>
        <div class="menu-item">Rewards</div>
        <div class="menu-item">CitiEasy Deals</div>
        <div class="menu-item">Citi Private Pass</div>
        <div class="menu-item">Specail Offers</div>
      </div>
      <div class="menu-colomn">
        <div class="menu-header">Relationship Banking</div>
        <div class="menu-item">Citi Priority</div>
        <div class="menu-item">Citigold</div>
        <div class="menu-item">Citi Private Bank</div>
      </div>
      <div class="menu-colomn">
        <div class="menu-header">Business Banking</div>
        <div class="menu-item">Small Business Accounts</div>
        <div class="menu-item">Commercail Accounts</div>
      </div>
      <div class="menu-colomn">
        <div class="menu-header">Rates</div>
        <div class="menu-item">Personal Banking</div>
        <div class="menu-item">Credit Cards</div>
        <div class="menu-item">Mortgage</div>
        <div class="menu-item">Home Equity</div>
        <div class="menu-item">Lending</div>
      </div>
      <div class="menu-colomn">
        <div class="menu-header">Help & Support</div>
        <div class="menu-item">Contact Us</div>
        <div class="menu-item">Help & FAQs</div>
        <div class="menu-item">Security Center</div>
      </div>
      <div class="menu-colomn">
        <div class="menu-header">Business Banking</div>
        <img src="/assets/images/appStore_1px.png" alt="" />
        <img src="/assets/images/googlePlay_1px.png" alt="" />
      </div>
    </div>
    <div class="copyright-line">
      <div class="cell bold">2018 Citigroup Inc</div>
      <div class="cell">Term & Conditions</div>
      <div class="cell">Privacy</div>
      <div class="cell">Accessibility</div>
      <div class="cell fr">
        Feedback <img src="/assets/images/oo_icon_retina.gif" alt="" />
      </div>
    </div>
    <div class="detail-menu-mobile">
      <div class="item">
          <span class="text">Why Citi</span>
      </div>
      <div class="item">
          <span class="text">Relationship Banking</span>
      </div>
      <div class="item">
          <span class="text">Business Banking</span>
      </div>
      <div class="item">
          <span class="text">Rates</span>
      </div>
      <div class="item">
          <span class="text">Help & Support</span>
      </div>
      <div class="item">
        <span class="text">Business Banking</span>
      </div>
    </div>
    <div class="copyright-line-mobile">
        <div class="cell bold">2018 Citigroup Inc</div>
        <div class="cell">Term & Conditions</div>
        <div class="cell">Privacy</div>
        <div class="cell">Accessibility</div>
    </div>
    <div class="additional-line">
      <div class="version">109.2</div>
      <div class="right-icons">
        <img class="member" src="/assets/images/memberfdic.png" alt="" />
        <img class="house" src="/assets/images/EqualHousing.png" alt="" />
      </div>
    </div>
  </div>
</div>
