<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [ngClass]="{'gold':type=='gold'}">
      <ion-icon name="home"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [ngClass]="{'gold':type=='gold'}">
      <ion-icon name="add"></ion-icon>
      <ion-label>Wealth</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [ngClass]="{'gold':type=='gold'}">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>