<ion-header>
  <!-- <ion-grid class="header">
    <ion-row>
      <ion-col size="2" (click)="backLogin()">
        <div class="ion-text-left">
          <ion-icon src="/assets/icon/user.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="title ion-align-self-center ion-text-center" [ngClass]="{'gold':type=='gold'}" size="8">
        <div>
          {{username}}
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="ion-text-right">
          <ion-icon src="/assets/icon/remind.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-toolbar color="black" class="header">
    <ion-buttons slot="secondary" (click)="backLogin()">
      <ion-button>
        <ion-icon src="/assets/icon/user.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon src="/assets/icon/remind.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title" [ngClass]="{'gold':type=='gold'}">{{username}}</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="black" class="header">
    <div class="log-off" (click)="backLogin()" *ngIf="showLogOff">
      log off
    </div>
    <ion-buttons slot="start" (click)="showLogOffBtn()">
      <ion-button>
          <ion-icon src="/assets/icon/user.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">
          <ion-icon src="/assets/icon/remind.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title ion-text-center" [ngClass]="{'gold':type=='gold'}">{{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m-dashboard">
    <div class="total-info">
      <div class="total-txt">Total Balance</div>
      <div class="total-balance">$ S 0</div>
      <div class="total-desc">Deposit + Investments</div>
    </div>
    <div class="account-list">
      <div class="item">
        <ion-icon src="/assets/icon/arrow-dropdown.svg"></ion-icon>
        <div class="account-details">
          <div class="type">Deposit</div>
          <div class="balance">S$ 1,061,216.06</div>
        </div>
      </div>
      <div class="item">
        <ion-icon src="/assets/icon/arrow-dropdown.svg"></ion-icon>
        <div class="account-details">
          <div class="type">Investments</div>
          <div class="balance">S$ 1,659,427.12</div>
        </div>
      </div>
      <div class="item">
        <ion-icon src="/assets/icon/arrow-dropdown.svg"></ion-icon>
        <div class="account-details">
          <div class="type">Credit Cards</div>
          <div class="balance">(S$ 39,938.51)</div>
        </div>
      </div>
      <div class="item">
        <ion-icon src="/assets/icon/arrow-dropdown.svg"></ion-icon>
        <div class="account-details">
          <div class="type">Loans</div>
          <div class="balance">(S$ 53,600.02)</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <header-root [username]="username" [type]="type"></header-root>
  <div class="dashboard">
      <div class="sidebar">
          <div class="tab">
              <ion-icon slot="start"  name="home"></ion-icon>
              <span>Overview</span>
          </div>
          <div class="tab">
              <ion-icon slot="start"  name="add"></ion-icon>
              <span>Transfers</span>
          </div>
          <div class="tab">
              <ion-icon slot="start"  name="cart"></ion-icon>
              <span>Store</span>
          </div>
          <div class="tab">
              <ion-icon slot="start"  name="settings"></ion-icon>
              <span>Setting</span>
          </div>
          <div class="tab">
              <ion-icon slot="start"  name="contacts"></ion-icon>
              <span>Contact Us</span>
          </div>
        </div>
        <div class="folder-wrapper">
          <div class="filters" [ngClass]="{'gold':type=='gold'}">
            <div>Sort order</div>
            <div>Expand/Collapse all</div>
            <div>
              <span>Currency: Account currency</span>
              <ion-icon class="down" [ngClass]="{'gold':type=='gold'}" src="/assets/icon/arrow-down.svg"></ion-icon>
            </div>
          </div>
            <div class="folder">
                <ion-icon class="card" slot="start"  name="paper"></ion-icon>
                <div class="account-info">
                  <div class="account-name">PERSONAL ACCOUNTS(9)</div>
                  <div class="amount-info">
                    <div class="amount-txt ion-text-right">Total Available Amount</div>
                    <div class="amount ion-text-right">379 504,93 PLN</div>
                  </div>
                </div>
                <ion-icon class="down" [ngClass]="{'gold':type=='gold'}" src="/assets/icon/arrow-down.svg"></ion-icon>
            </div>
            <div class="folder">
                <ion-icon class="card" slot="start"  name="analytics"></ion-icon>
                <div class="account-info">
                  <div class="account-name">SAVING & INVESTMENTS (28)</div>
                  <div class="amount-info">
                    <div class="amount-txt ion-text-right">Total Current Balance</div>
                    <div class="amount ion-text-right">109 661 740,55 PLN</div>
                  </div>
                </div>
                <ion-icon class="down" [ngClass]="{'gold':type=='gold'}" src="/assets/icon/arrow-down.svg"></ion-icon>
            </div>
            <div class="folder">
                <ion-icon class="card" slot="start"  name="card"></ion-icon>
                <div class="account-info">
                  <div class="account-name">CREDIT CARDS (1)</div>
                  <div class="amount-info">
                    <div class="amount-txt ion-text-right">Total Card Balance</div>
                    <div class="amount ion-text-right">2 206,54PLN</div>
                  </div>
                </div>
                <ion-icon class="down" [ngClass]="{'gold':type=='gold'}" src="/assets/icon/arrow-down.svg"></ion-icon>
            </div>
        </div>
  </div>
  <footer-root></footer-root> -->

</ion-content>